:root {
    --color-primary: #5e3b8f;
    --color-border: #d0d0d6
}

.card {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 22px;
    padding: 20px;
    width: clamp(300px, 85vw, 500px);
}

.hero,
form {
    flex: 1 1 50%;
}

h3,
p {
    font-weight: 500;
    margin: 0;
}

.hero {
    background: url("../img/fundo.svg");
    background-size: cover;
    border-radius: 16px;
    overflow: hidden;
    font-family: "Space Grotesk";
}

.hero-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: inherit;
    padding: 40px 66px;
    height: 100%;
    min-height: 170px;
}

.hero h2 {
    font-size: 22px;
    color: #ffffff;
    line-height: 1.25;
}

.hero h3 {
    margin-top: 12px;
    font-size: 18px;
    color: "d8d8d8";
    display: none;
}

form {
    padding: 30px 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

form>img {
    height: 28px;
    margin-bottom: 12px;
    /*margin-top: px;*/
}

form :is(h2, h3) {
    text-align: center;
}

form>h3 {
    font-size: 14px;
    margin-bottom: 12px;
}

input::placeholder {
    color: #9c99a4;
}

input {
    border: 1px solid var(--color-border);
    padding: 0 2.5vw;
}

button,
input {
    height: 44px;
    border-radius: 10px;
    background: transparent;
    color: inherit;
    font-family: inherit;
    font-size: 16px;
    width: 100%;
    outline-color: var(--color-primary);
}

.socials {
    display: flex;
    gap: 8px;
}

.extra.text {
    display: none;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #f2f3f6;
    border-color: transparent;
    font-size: 15px;
}

.social-btn>img {
    height: 24px;
}

.social-btn:first-child> {
    height: 20px;
}

.social-btn>p {
    color: #7e7c83;
}

form > button [type="submit"] {
    color: #ffffff;
    background: var(--color-primary);

}

.or {
    position: relative;
    text-align: center;
    height: 24px;
}

.or::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 0;
    width: 100%;
    translate: 0 -50%;
    height: 1px;
    background: var(--color-border);
    opacity: 0.6;
}

.or::after {
    content: "or";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
    background: #ffffff;
    font-size: 12px;
    padding: 0 12px;
}

@media (width >=485px) {
    .card {
        width: clamp(300px, 90vw, 740px);
    }

    form {
        padding-left: 50px;
        padding-right: 50px;
    }

    .hero-inner {
        padding-right: clamp(10px, 20vw, 60px);
    }

    .socials {
        flex-direction: column;
    }

    .extra.text {
        display: inline;
    }
}

@media (width >=640px) {
    .card {
        flex-direction: row;
        padding: 8px 0 8px 8px;
    }

    .hero-inner {
        justify-content: center;
        align-items: flex-start;
        padding: 0 36px;
    }

    .hero h3{
        display: block;
    }

    form {
        padding: 30px;
    }
}